{% extends "admin/master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/form_style.css" />{% endblock stylesheet%}

{% block title %}Delete Equipment{% endblock %}

{% block content %}
    <div class="py-5 px-5 container">
        <div class="overflow-auto">
            <form method="POST" enctype="multipart/form-data" class="col-md-9">
                {% if errors %}
                    {% for e in errors %}
                        <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
                    {% endfor %}
                {% endif %}

                <div class="contact-form">
                    <div class="form-row">
                        <label class="control-label col-sm-3" for="itemname">Product Name</label>
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" id="itemname" placeholder="Enter Item Name" value="{{ equipment.equipName }}" name="equipname" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="inputGroupSelect01">Category</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >{{ equipment.category }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="instock">In-Stock</label>
                            <input type="text" class="form-control" id="instock" placeholder="Enter number of items in-stock" name="itemsInStock" value="{{ equipment.inStock }}" readonly>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="input-group mb-3 col-md-6">
                            <label for="rateByMonth">Rental Rate By Month</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" readonly name="rateByMonth" value="{{ equipment.rateByMonth }}" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="rateByMonth" />
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <label for="rateBySeason">Rental Rate By Season</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" readonly name="rateBySeason" value="{{ equipment.rateBySeason }}" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="rateBySeason" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <img class="img-fluid" src="/uploads/{{ equipment.photo}}" alt="Responsive image">
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="control-label col-sm-2" for="description1" >Description:</label>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="5" id="description1" name="description" readonly>{{ equipment.description }}</textarea>
                        </div>
                    </div>
                    <p class="my-2 form-control is-invalid text-white bg-danger">Confirm to delete this equipment? It's irreversible</p>
                    <button class="my-2 btn btn-primary" type="submit">Delete</button>
                    <a href="/admin/equipments/list" class="my-2 mx-4 btn btn-primary " role="button" >Cancel</a>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#rateByMonth').val('100');
            $('#rateBySeason').val('200');
            $('#inputImage')
        });
    </script>
{% endblock scripts %}