
{% extends "admin/master.html.twig" %}

{% block title %}User List{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>id</th>
            <th>role</th>
            <th>username</th>
            <th>email</th>
            <th>actions</th>
        </tr>
        {% for u in usersList %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.role}}</td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>
                <a href="/admin/users/{{u.id}}edit">edit</a>
                <a href="/admin/users/{{u.id}}delete">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}