{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/addequip_style.css" />{% endblock stylesheet%}

{% block title %}
    My Account
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="/images/skiing-solid.svg" alt="image"/>
                    <h3>My Account</h3>
                    <p>Please update your profile and submit</p>
                </div>
            </div>
            <form method="POST" class="col-md-9" read-only>
                {% if errors %}
                    <ul class="errorList">
                        {% for e in errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-row" >
                    <div class="col-md-6 mb-3">
                        <label for="inputFirstname">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="inputFirstname" placeholder="First name" value="{{ user.firstName }}" required>
                        <div class="invalid-feedback d-none">
                            Invalid First Name
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="inputLastname">Last name</label>
                        <input name="lastName" type="text" class="form-control" id="inputLastname" placeholder="Last name" value="{{ user.lastName }}" required>
                        <div class="invalid-feedback d-none">
                            Invalid Last Name
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputUsername">Username</label>
                        <input name="userName" type="text" class="form-control" id="inputUsername" placeholder="User Name" value="{{ user.username }}" required>
                        <div class="invalid-feedback d-none" id="isUserNameTaken">
                            This username is taken, please choose another one
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputEmail">Email Address</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputEmail">@</span>
                            </div>
                            <input name="email" type="email" class="form-control" id="validationServerEmail" placeholder="Email Address" aria-describedby="inputGroupPrepend3" value="{{ user.email }}" required>
                            <div class="invalid-feedback d-none" id="isEmailTaken">
                                This email address is taken, please try to login
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Phone">Phone Number</label>
                        <input name="phone" type="tel" class="form-control" id="Phone" placeholder="***-***-****" value="{{ user.phone }}" required>
                        <div class="invalid-feedback d-none">
                            Invalid Phone number
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inputPassword">Password</label>
                        <input name="pass1" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        <div class="invalid-feedback d-none">
                            Password invalid
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input name="pass2" type="password" class="form-control" id="confirmPassword" placeholder="Password" required>
                        <div class="invalid-feedback d-none">
                            Password not match
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress">Address</label>
                        <input name="street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{ user.street }}" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid address.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">City</label>
                        <input name="city" type="text" class="form-control" id="inputCity" placeholder="City" value="{{ user.city }}" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputProvince">Province</label>
                        <input name="province" type="text" class="form-control" id="inputProvince" placeholder="QC Quebec" value="{{ user.province }}" required>
                        <div class="invalid-feedback d-none">
                            Please choose a valid province.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputPostalCode">Postal Code</label>
                        <input name="postCode" type="text" class="form-control" id="inputPostalCode" placeholder="A1B 2C3" value="{{ user.postalCode }}" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid postal code.
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Update My Account</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $('input[name=email]').on('keyup keypress',function (){
                let email = $('input[name=email]').val();
                $('#isEmailTaken').load('/account/isemailtaken/' + email);
            });
            $('input[name=userName]').on('keyup keypress',function (){
                let userName = $('input[name=userName]').val();
                $('#isUserNameTaken').load('/account/isusernametaken/' + userName);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}
