{% extends "master.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/styles/cart_style.css" />{% endblock stylesheet %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
    <a href="/productlines" class="my-2 mx-4 float-sm-left btn btn-primary active" role="button" aria-pressed="true">Continue Browsing</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col">ID</th>
                <th scope="col">EQUIPMENT CATEGORY</th>
                <th scope="col">EQUIPMENT NAME</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">RENTAL TYPE</th>
                <th scope="col">ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            {% for c in cartList %}
                <tr>
                    <th scope="row">{{ c.id }}</th>
                    <td>{{ c.category }}</td>
                    <td>{{ c.equipName }}</td>
                    <td>{{ c.quantity }}</td>
                    <td>{{ c.rentalType }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/remove/{{ c.id }}">Delete From Cart</a>
                        <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/checkout/{{ c.userId }}">Check Out</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}