{% extends "master.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/styles/cart_style.css" />{% endblock stylesheet %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
    <a href="/cart" class="my-2 mx-5 float-sm-left btn btn-primary active" role="button" aria-pressed="true">Back to cart</a>
    <p class="form-control text-danger d-none" id="err"></p>
    <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">USER NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">EQUIPMENT NAME</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                {% for o in orderList %}
                    <tr>
                        <th scope="row">{{ o.id }}</th>
                        <td>{{ o.firstName ~ " " ~ o.lastName }}</td>
                        <td>{{ o.email }}</td>
                        <td>{{ o.phone }}</td>
                        <td>{{ o.equipName }}</td>
                        <td>{{ o.category }}</td>
                        <td>{{ o.price }}</td>
                        <td>{{ 0.quanity }}</td>
                        <td>
                            <a id="remove" class="btn btn-primary btn-sm active font-weight-bold" role="button" aria-pressed="true" href="/order/remove/{{ o.id }}">-</a><span class="d-none" id="orderIdremove" >{{ c.id }}</span>
                            <a id="add" class="btn btn-primary btn-sm active font-weight-bold" role="button" aria-pressed="true" href="/order/add/{{ o.id }}">+</a><span class="d-none" id="orderIdadd" >{{ c.equipId }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <a href="/order/pay" class="mx-5 btn btn-lg float-sm-right btn-primary" role="button" aria-pressed="true">Pay</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $err =  $('#err');
            $('#remove').on('click', function (){
                var orderId = $('#orderIdremove').val();
                $err.load("/order/remove/" + orderId);
                if($err.is(':empty')){
                    $err.removeClass("d-none");
                }else{
                    $err.addClass("d-none");
                }
            });

            $("#add").on('click', function (){
                var orderId = $('#orderIdadd').val();
                $err.load("/order/add/" + orderId);
                if($err.is(':empty')){
                    $err.removeClass("d-none");
                }else{
                    $err.addClass("d-none");
                }
            });
        });

    </script>
{% endblock scripts %}