{% extends "master.html.twig" %}

{% block head %}
    {#
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> #}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/addequip_style.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
{% endblock %}

{% block title %}
    Register New User
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="/images/skiing-solid.svg" alt="image"/>
                    <h3>Sign Up</h3>
                    <p>To register new user, please input the information in list<br><br>All fields are required!</p>
                </div>
            </div>
            <form method="POST" class="col-md-9">
                {% if errors %}
                    <ul class="errorList">
                        {% for e in errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="inputFirstname">First name</label>
                        <input name="firstName" type="text" class="form-control" id="inputFirstname" value="{{ prevInput.firstName }}" placeholder="First name" required>
                        <div class="invalid-feedback d-none">
                            Invalid First Name
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inputLastname">Last name</label>
                        <input name="lastName" type="text" class="form-control" id="inputLastname" value="{{ prevInput.lastName }}" placeholder="Last name" required>
                        <div class="invalid-feedback d-none">
                            Invalid Last Name
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputUsername">Username</label>
                        <input name="userName" type="text" class="form-control" id="inputUsername" value="{{ prevInput.userName }}" placeholder="User Name" required>
                        <div class="invalid-feedback d-none">
                            This username is taken, please choose another one
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputEmail">Email Address</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputEmail">@</span>
                            </div>
                            <input name="email" value="{{ prevInput.email }}" type="email" class="form-control" id="validationServerEmail" placeholder="Email Address" aria-describedby="inputGroupPrepend3" required>
                            <div class="invalid-feedback d-none" id="isTaken">
                                This email address is taken, please try to login
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Phone">Phone Number</label>
                        <input name="phone" type="text" class="form-control" id="Phone" value="{{ prevInput.phone }}" placeholder="***-***-****" required>
                        <div class="invalid-feedback d-none">
                            Invalid Phone number
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inputPassword">Password</label>
                        <input name="pass1" type="password" class="form-control" id="inputPassword" value="{{ prevInput.pass1 }}" placeholder="Password" required>
                        <div class="invalid-feedback d-none">
                            Password invalid
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input name="pass2" type="password" class="form-control" id="confirmPassword" value="{{ prevInput.pass2 }}" placeholder="Password" required>
                        <div class="invalid-feedback d-none">
                            Password not match
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress">Address</label>
                        <input name="street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{ prevInput.street }}" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid address.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">City</label>
                        <input name="city" type="text" class="form-control" id="inputCity" placeholder="City" value="{{ prevInput.city }}" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputProvince">Province</label>
                        <input name="province" type="text" class="form-control" id="inputProvince" placeholder="QC Quebec" value="{{ prevInput.province }}" required>
                        <div class="invalid-feedback d-none">
                            Please choose a valid province.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputPostalCode">Postal Code</label>
                        <input name="postCode" type="text" class="form-control" id="inputPostalCode" value="{{ prevInput.postalCode }}" placeholder="A1B 2C3" required>
                        <div class="invalid-feedback d-none">
                            Please provide a valid postal code.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input name="isAgree" class="form-check-input" type="checkbox" id="invalidCheck3" required>
                        <label class="form-check-label" for="invalidCheck3">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback d-none">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
            <a class="dropdown-item text-info" href="/login">Already has a user? Sign In</a>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $('input[name=email]').on('keyup keypress',function (){
                let email = $('input[name=email]').val();
                $('#isTaken').load('/register/isemailtaken/' + email);
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}
